.navbar-dark .dropdown-menu {
  background: #333; }
.navbar-dark .dropdown-item:hover {
  background-color: #111; }

[class*='login-button-'] {
  display: block;
  width: 100%;
  color: white;
  background: #333; }

.login-button-facebook:hover, .login-button-facebook:focus {
  background: darkblue;
  color: white; }
.login-button-google:hover, .login-button-google:focus {
  background: #ff4500;
  color: white; }
.login-button-zalo:hover, .login-button-zalo:focus {
  background: cyan;
  color: black; }

.writer-ui-float {
  position: fixed;
  top: 100px;
  left: 1em;
  display: none;
  z-index: 999; }

.is-premium {
  position: relative;
  height: 300px;
  overflow: hidden;
  filter: blur(10px); }

.premium-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .premium-overlay > div {
    width: 300px; }

.premium-ui {
  display: none; }

.post-thumb {
  overflow: hidden;
  background-color: #888;
  min-height: 100px; }
  .post-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.post-layout .post-thumb {
  width: 100%;
  height: 400px; }
.post-title {
  font-size: 3rem;
  font-weight: bold; }
.post-date {
  font-weight: light;
  font-size: 0.9rem; }
.post-content {
  padding: 2em 0; }
  .post-content table,
  .post-content img {
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 1em auto; }
    .post-content table > tbody,
    .post-content img > tbody {
      font-size: 0.75em;
      color: #555; }
.post-layout video,
.post-layout img {
  max-width: 100%;
  margin: 1em auto; }

.post-landing .post-thumb {
  width: 100%;
  height: 200px; }

.post-small {
  margin: 1em 0; }
  .post-small .post-thumb {
    width: 100%;
    height: 120px; }
  .post-small .post-info {
    padding: 0.5em; }

.writer-ui, .premium-ui, .admin-ui, .editor-ui {
  display: none; }

html, body {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  position: relative; }

footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%; }

img {
  max-width: 100%;
  border: 0;
  font-size: 0;
  line-height: 0; }

a {
  color: #333;
  text-decoration: none; }

.first-artical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: 100%; */
  padding-bottom: 15px;
  border-bottom: 1px dotted; }

.first-artical h1 a {
  font: 700 20px arial; }

.theme_header {
  margin-top: 10px;
  margin-bottom: 10px; }

.thumb-big img {
  height: 400px; }

.description {
  color: #333;
  font: 400 13px/16px arial; }

.tag-news {
  text-decoration: none;
  list-style: none;
  display: inline; }

.tag-news li {
  display: inline; }

.tag-news li a {
  font-weight: bold;
  font-style: unset;
  font-size: 13px;
  margin: 0px 3px 0px 3px; }

.post-time {
  font: 500 15px/16px arial italic;
  margin: 5px 0px 0px 5px; }

.post-time span {
  font: 400 13px/16px arial italic; }

.list-news-item {
  display: block;
  border-bottom: 1px dotted #e2e2e3;
  margin-bottom: 6px;
  padding-bottom: 10px; }

.thumb-art {
  position: relative;
  margin-right: 10px;
  float: left;
  width: 140px;
  margin-bottom: 10px; }

a.post {
  color: inherit;
  text-decoration: inherit; }

a.post:hover {
  text-decoration: inherit;
  color: inherit; }

.btn-awesome {
  background-image: linear-gradient(45deg, #ff4500, #333);
  border: none;
  color: white; }
  .btn-awesome:hover {
    color: white; }

.underline-awesome {
  border-bottom: 2px solid #ff4500;
  border-image-source: linear-gradient(90deg, #ff4500, #333);
  border-image-slice: 1;
  border-image-width: 0 0 2px 0; }

.text-awesome {
  background-image: linear-gradient(45deg, #ff4500, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
