<footer class="bg-dark text-light d-flex align-items-center" style="min-height: 300px">
    <div class="container">

        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-fluid" src="/static/img/logo.png" alt="">
                <h3 class="my-3">Báo điện tử TH16</h3>
            </div>
            <div class="col-md-4">
                <h4>Liên hệ</h4>
                <ul class='list-unstyled'>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>&nbsp;
                        <strong>Địa chỉ: </strong>
                        <span class="font-weight-light">449 Nguyễn Văn Cừ, Quận 5, TP.HCM</span>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>&nbsp;
                        <strong>Điện thoại: </strong>
                        <span class="font-weight-light">(0123) 456 789</span>
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>&nbsp;
                        <strong>Email: </strong>
                        <span class="font-weight-light">khongco@fit.hcmus.edu.vn</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Liên kết khác:</h4>
                <ul class="list-unstyled">
                    <li>
                        <a class="text-light" target="_blank" href="//facebook.com">
                            <i class="fab fa-facebook"></i>&nbsp;
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a class="text-light" target="_blank" href="//google.com">
                            <i class="fab fa-google"></i>&nbsp;
                            Google+
                        </a>
                    </li>
                    <li>
                        <a class="text-light" target="_blank" href="//zalo.com">
                            <i class="fas fa-globe"></i>&nbsp;
                            Zalo
                        </a>
                    </li>
                    <li>
                        <a class="text-light" target="_blank" href="/feed.xml">
                            <i class="fas fa-rss"></i>&nbsp;
                            RSS
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>