<div class="modal fade" role="dialog" id="modal-signup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h5 class="modal-title">Đăng ký</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img width="100px" class="d-block mx-auto" src="/static/img/logo.png" alt="">
                <form action="/profile" class="form" method="POST">
                    <div class="form-group">
                        <label for="signup-email">Email</label>
                        <input type="email" name="signup-email" required class="form-control" id="signup-email">
                    </div>
                    <div class="form-group">
                        <label for="signup-pass">Mật khẩu</label>
                        <input type="password" name="signup-pass" required class="form-control" id="signup-pass">
                    </div>
                    <div class="form-group">
                        <label for="signup-retype-pass">Nhập lại mật khẩu</label>
                        <input type="password" name="signup-retype-pass" required class="form-control" id="signup-retype-pass">
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="g-recaptcha my-2 text-align-center" data-sitekey="6Ldu_Z4UAAAAAAFbyplZ4zaOCHni0lDUDoO1fsmz"></div>
                    </div>
                    <button class="d-block btn btn-info mx-auto">
                        Đăng nhập <i class="fas fa-sign-in-alt"></i>
                    </button>
                </form>
                <div class="text-center">
                    <h3 class="text-secondary">hoặc</h3>
                </div>
                <div class="d-flex">
                    <div class="col-md-4">
                        <button class="btn login-button-facebook">
                            <i class="fab fa-facebook"></i>&nbsp;
                            Facebook
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn login-button-google">
                            <i class="fab fa-google"></i>&nbsp;
                            Google
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn login-button-zalo">
                            <img width="16px" src="/static/img/Logo_Zalo.png" alt="">
                            Zalo
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="mx-auto">
                    Đã có tài khoản,&nbsp;
                    <a href="#" role="button" data-dismiss="modal" data-toggle="modal" data-target="#modal-login"
                        class="link mx-auto">
                        đăng nhập
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>