<div class="position-fixed btn-group shadow" style="right: 1em; bottom: 1em; z-index: 9999">
    <a href="?type=normal" title="See as Normal" class="btn btn-secondary">
        <i class="fas fa-users"></i>
    </a>
    <a href="?type=premium" title="See as Premium" class="btn btn-awesome">
        <i class="fas fa-star"></i>
    </a>
    <a href="?type=writer" title="See as Writer" class="btn btn-info">
        <i class="fas fa-pen"></i>
    </a>
    <a href="?type=editor" title="See as Editor" class="btn btn-success">
        <i class="fas fa-pen-alt"></i>
    </a>
    <a href="?type=admin" title="See as Admin" class="btn btn-danger">
        <i class="fas fa-user"></i>
    </a>
</div>
