[class*='login-button-'] {
    display: block;
    width: 100%;
    color: white;
    background: #333;
}
.login-button {
    &-facebook:hover, &-facebook:focus {
        background: darkblue;
        color: white;
    }
    &-google:hover, &-google:focus {
        background: #ff4500;
        color: white;
    }
    &-zalo:hover, &-zalo:focus {
        background: cyan;
        color: black;
    }
}