---
---

#editor {
     font-size: 20px;
     min-height: 500px;
     .ql-video {
          width: 100%;
          max-width: 500px !important;
          height: 300px;
          object-fit: cover;
          margin: 0 auto;
     }
     img {
          display: block;
          margin: 1em auto;
     }
}

.write {
     &-thumb {
          max-width: 100%;
          width: 500px;
          height: 300px;
          background-color: #ccc;
          border: 2px dashed #333;
          margin: 0 auto;
          img {
               width: 100%;
               height: 100%;
               object-fit: cover;
          }
     }
}

.custom-file {
     max-width: 500px;
}

#save {
     &::before {
          content: "Lưu";
     }
     &.saved {
          background-color: green;
          color: white;
          &::before {
               content: "Đã lưu";
          }
     }

     [role=status] {
          display: none;
     }
     &.onsave [role=status] {
          display: block;
     }
}
