---
layout: page
---
<section class="row">
    <div class="col-md-8">
        {%- include archive/hot_post.html posts=page.posts -%}
    </div>
    <div class="col-md-4 d-none d-md-block">
        {%- include archive/hot_posts_list.html posts=page.posts -%}
    </div>
</section>
<section class="my-4">
    <h3 class="underline-awesome text-awesome">TIN MỚI NHẤT</h3>
    <div class="carousel slide" id="new-carousel" style="min-height: 300px">
        <ol class="carousel-indicators">
            <li data-target="#new-carousel" data-slide-to="0" class="bg-dark active"></li>
            <li data-target="#new-carousel" data-slide-to="1" class="bg-dark"></li>
            <li data-target="#new-carousel" data-slide-to="2" class="bg-dark"></li>
        </ol>
        <div class="carousel-inner pb-4">
            {%- for i in (0..2) -%}
                {%- assign classActive='' -%}
                {%- if i == 0 -%}
                    {%- assign classActive='active' -%}
                {%- endif -%}
                <div class="carousel-item {{classActive}}">
                    <div class="d-flex flex-row flex-wrap">
                        {%- for post in page.posts limit:4 offset:i -%}
                            <div class="col-md-6 p-2">
                                <article class="post d-flex">
                                    <div class="post-thumb flex-shrink-0" style="width: 120px">
                                        <img src="{{post.thumbnail}}" alt="">
                                    </div>
                                    <div class="post-info flex-grow-1 pl-2">
                                        <h6>{{post.title}}</h6>
                                    </div>
                                </article>
                            </div>
                        {%- endfor -%}
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
