<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ '/static/bootstrap/css/bootstrap.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/style.css' | relative_url}}">
    <link rel="shortcut icon" href="{{ '/static/img/logo.png' | relative_url}}" type="image/png">

    {%- if page.title != '' and page.title -%}
        <title>{{page.title}} | {{site.title}}</title>
        <meta property="og:title" content="{{page.title}} | {{site.title}}">
    {%- else -%}
        <title>{{site.title}}</title>
        <meta property="og:title" content="{{site.title}}">
    {%- endif -%}
    
    <meta name="description" content="{{description}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:url" content="{{site.url}}{{page.url}}">
    <meta property="og:type" content="article">
    {%- if page.thumbnail -%}
        <meta property="og:image" content="{{site.url}}{{page.thumbnail}}">
    {%- else -%}
        <meta property="og:image" content="{{site.url}}/static/img/messi-mu.png">
    {%- endif -%}
    

    <link rel="stylesheet" async href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" async href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">
    <link rel="stylesheet" async href="https://use.fontawesome.com/releases/v5.8.1/css/brands.css" integrity="sha384-n9+6/aSqa9lBidZMRCQHTHKJscPq6NW4pCQBiMmHdUCvPN8ZOg2zJJTkC7WIezWv" crossorigin="anonymous">

    <script src="{{'/static/jquery/jquery.min.js' | relative_url}}"></script>
    <script src="{{'/static/popper/popper.min.js' | relative_url}}"></script>
    <script src="{{'/static/bootstrap/js/bootstrap.min.js' | relative_url}}"></script>

    <!-- include particle lib -->
    {{- page.include_head -}}

    <!-- // recaptcha -->
    <script async defer src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    {%- include navbar.html -%}
    {{- content -}}

    {%- include modal-login.html -%}
    {%- include modal-signup.html -%}
    {%- include modal-update-post.html-%}
    {%- include modal-reject-detail.html-%}

    <script src="/static/default.js"></script>
</body>
</html>