---
layout: default
---
<div class="theme_header container">
    <ul class="breadcrumb left">
        <li class="breadcrumb-item">
            <a href="/">
                <i class="fas fa-home"></i>&nbsp;
                Trang chủ
            </a>
        </li>
        <li class="breadcrumb-item"><a href="#">{{page.title}}</a></li>
    </ul>
</div>
<main class="container">
    <div class="hero d-flex"    >
        <h1 class="text-awesome">{{page.title}}</h1>
    </div>
    {{- content -}}
</main>
