---
layout: default
---
<link rel="stylesheet" href="/static/post.css">
<main class="container-fuild">
    <figure class="post-thumb">
        <img src="{{page.thumbnail}}" alt="">
    </figure>

    <section class="post-body container">
        <h1 class="post-title">{{page.title}}</h1>
        <div class="d-flex align-items-center text-secondary">
            <div class="post-author mr-4">
                <i class="fas fa-user"></i>&nbsp;
                {{page.author}}
            </div>
            <div class="post-date mr-4">
                <i class="fas fa-clock"></i>&nbsp;
                {{page.date | date: '%d/%m/%Y'}}
            </div>
        </div>
        <div class="post-content">
            {{- page.content -}}
        </div>
        <div class="post-tags text-secondary">
            <strong>Tags</strong>
            {%- for item in page.tags -%}
                <a class="mx-2" href="/tags/{{item | slugify}}">
                    <i class="fas fa-tag">{{item}}</i>&nbsp;
                </a>
            {%- endfor -%}
        </div>
    </section>
</main>